.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


div {
  margin: 0 auto;
  padding: 20px;
}

/* Heading styles */
h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-top: 20px;
}

/* Paragraph styles */
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 25px;
}

li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 25px;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}